@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Courier New', monospace;
  background-color: #170004;
  color: #6f7173;
}
/* Animação de flutuação suave */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

@keyframes hat-fly {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  25% {
    transform: translate(50px, -50px) scale(1.2);
  }
  50% {
    transform: translate(100px, -100px) scale(1);
  }
  75% {
    transform: translate(150px, -50px) scale(0.8);
  }
  100% {
    transform: translate(200px, 0) scale(0.5);
    opacity: 0;
  }
}
.animate-hat {
  position: absolute;
  top: 0;
  left: 100%;
  animation: hat-fly 5s ease-in-out forwards; 
  pointer-events: none; 
}